<h1> Create a new comment </h1>
<div class='container'>
  <%= form_with model: @comment, url: comment_create_path, class: 'form' do |f| %>
    <%= f.text_area :text, placeholder: 'Comment', :required => true, class: 'new-text' %>
    <%= f.submit "Submit", class: 'submit-post' %>
  <% end %>
</div>
