<!DOCTYPE html>
<html>
  <body>
  <div class='container' >
    <div class='header'>
      <h2 class='section-title'> Users </h2>
    </div>

    <% @users.order(:postCounter).reverse_order.each do |user| %>
      <%= link_to user_path(user.id), class:'User' do %>
        <div class='user-container'>
          <img class='user-image' src="<%= user.photo %>">
          <div class='user-data'>
            <h3> <%= user.name %> </h3>
            <p>Number posts: <%= user.postCounter %> </p>
         </div>
        </div>
      <% end %>
    <% end %>
  </div>
  </body>
</html>
