<h2>new user</h2>

<%= form_with do |f| %>
  <%= f.text_field :title, placeholder: 'Username', :required => true, class: 'new-user' %>
  <%= f.text_field :title, placeholder: 'Password', :required => true, class: 'new-user' %>
  <%= f.submit "Submit", class: 'submit-post' %>
<% end %>
<br/>
<br/>
