<div>
<img style ="width: 60px" src="<%= @user.photo %>">
<div>
<h1><%= @user.name %></h1>
<p>Number posts: <%= @user.postCounter %> </p>
</div>
</div>
<h2> Bio </h2>
<p> <%= @user.bio %> </p>
<h2> Posts </h2>
<ul>

</ul>

